body {
    margin: 0;
    padding: 0;
}

.div1 {
    height: 250px;
    width: 95vw;
    border: solid;
    display: absolute;
    margin: 15px auto 15px auto;
}

.purple_rectangle {
    height: 175px;
    width: 40px;
    background-color: rebeccapurple;
    display: inline-block;
    margin: 60px 0px 10px 10px;
}

.green_rectangle {
    height: 220px;
    width: 400px;
    background-color: green;
    display: inline-block;
    margin: 10px 0px 10px 40px;
}

.circle {
    height: 220px;
    width: 220px;
    background-color: lightblue;
    display: inline-block;
    margin: 10px 0px 10px 50px;
    border-radius: 50%;
}

.div2 {
    height: 250px;
    width: 95vw;
    border: dotted;
    display: absolute;
    margin: 15px auto 0px auto;
}

.yellow_rectangle {
    height: 180px;
    width: 95%;
    background-color: tan;
    display: inline-block;
    margin: 30px 20px;
    box-shadow: 5px 5px 5px #888888;
}

.div3 {
    height: 250px;
    width: 55vw;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    box-shadow: 1px 1px 1px #888888;
    display: absolute;
    margin: 15px auto 0px auto;
}

h3 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
    color: navy;
    font-family: "times new roman";
    margin: 80px auto;
}